
// Variables: type
$t-height: 18px;
$t-lineheight: 26px;

// Variables: colour
$c-cream: #fffaf5;
$c-cream-dk: #eadbcd;
$c-blue: #9cf;
$c-blue-dk: #4781ba;
$c-grey: #747474;
$c-grey-dk: #333;

// Vendor styles
@import "vendor/bitmanic/rem";
@import "vendor/necolas/normalize";
@import "vendor/rowanmanning/frag/grid/default/grid";

// Objects
@import "object/clear";
@import "object/forkme";
@import "object/noisy";
@import "object/swatch";

// Site styles
@import "core/glitter";
@import "core/layout";
@import "core/type";
