
// Dependencies
@import "../../lib/frag";

// Maximum widths
$frag-max-width: 1200px !default;

// Break-points
$frag-break-alpha: 680px !default;
$frag-break-bravo: 1100px !default;

// Columns and gutters
$frag-column-count: 12 !default;
$frag-gutter-width: 40px !default;

// Create grid class
@include frag-grid(
    $class: 'grid',
    $colclass: 'col',
    $maxwidth: $frag-max-width,
    $gutter: $frag-gutter-width
);

// Create column classes
@include frag-cols(
    $prefix: 'c-',
    $count: $frag-column-count
);

// Create utility classes
@include frag-util(
    $prefix: 'c-'
);

// Break-point alpha
@media all and (min-width: $frag-break-alpha) {

    // Create column classes
    @include frag-cols(
        $prefix: 'ca-',
        $count: $frag-column-count
    );

    // Create utility classes
    @include frag-util(
        $prefix: 'ca-'
    );

}

// Break-point bravo
@media all and (min-width: $frag-break-bravo) {

    // Create column classes
    @include frag-cols(
        $prefix: 'cb-',
        $count: $frag-column-count
    );

    // Create utility classes
    @include frag-util(
        $prefix: 'cb-'
    );

}
