
// Dependencies
@import "../../lib/frag";

// Maximum widths
$frag-max-width: 1200px !default;

// Break-points
$frag-break-tablet: 1000px !default;
$frag-break-mobile: 640px !default;

// Columns and gutters
$frag-column-count: 12 !default;
$frag-gutter-width: 40px !default;

// Create grid class
@include frag-grid(
    $class: "grid",
    $col-class: "col",
    $max-width: $frag-max-width,
    $gutter: $frag-gutter-width
);

// Create column classes
@include frag-cols(
    $prefix: "dsk-",
    $count: $frag-column-count
);

// Create utility classes
@include frag-util(
    $prefix: "dsk-"
);

// Tablet break-point
@media all and (max-width: $frag-break-tablet) {

    // Create column classes
    @include frag-cols(
        $prefix: "tab-",
        $count: $frag-column-count
    );

    // Create utility classes
    @include frag-util(
        $prefix: "tab-"
    );

}

// Mobile break-point
@media all and (max-width: $frag-break-mobile) {

    // Create column classes
    @include frag-cols(
        $prefix: "mob-",
        $count: $frag-column-count
    );

    // Create utility classes
    @include frag-util(
        $prefix: "mob-"
    );

}
