
// Dependencies
@import "../../lib/frag";
@import "../../lib/oldie";

// Maximum widths
$frag-max-width: 980px !default;

// Columns and gutters
$frag-column-count: 12 !default;
$frag-gutter-width: 40px !default;

// Create grid class
@include frag-oldie(
    $class: "grid",
    $max-width: $frag-max-width,
    $col-prefix: "dsk-",
    $count: $frag-column-count,
    $gutter: $frag-gutter-width
);
