html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 20px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}
h1 {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 5px solid #ddd;
}
h2 {
    margin-top: 60px;
}
.grid {
    margin: 20px auto;
}
.grid .grid {
    margin: 0;
}
.col {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee;
    border-top: 5px solid #9cf;
}
.padless-bottom {
    padding-bottom: 0;
}
.grid .alt {
    background-color: #ddd;
}