// core/type

// Base typography
html {
    font-size: 62.5%;
}
body {
    font-family: "Varela Round", Verdana, Geneva, Tahoma, sans-serif;
    @include rem("font-size", $t-height);
    @include rem("line-height", $t-lineheight);
    color: $c-grey-dk;
}

// Type utilities
.secondary {
    color: $c-grey;
}
.flow {
    margin-top: 0;
    @include rem("margin-bottom", $t-lineheight);
}
.interrupt {
    margin-bottom: 0;
}
.topper {
    @include rem("margin-top", $t-lineheight * 2);
}
.center {
    text-align: center;
}

// Base element styles
p, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, blockquote, dl, figure, ol, ul, hr, pre, table {
    @extend .flow;
}

// Heading styles
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, dt, th {
    color: $c-grey-dk;
    font-weight: normal;
}
h6, .h6, dt, th {
    @include rem("font-size", $t-height + 4px);
}
h5, .h5 {
    @include rem("font-size", $t-height + 8px);
}
h4, .h4 {
    @include rem("font-size", $t-height + 12px);
}
h3, .h3, h2, .h2, h1, .h1 {
    @include rem("line-height", $t-lineheight * 2);
}
h3, .h3 {
    @include rem("font-size", $t-height + 16px);
}
h2, .h2 {
    @include rem("font-size", $t-height + 20px);
}
h1, .h1 {
    @include rem("font-size", $t-height + 24px);
}

// Small element styles
figcaption, small, sub, sup {
    @include rem("font-size", $t-height - 2px);
}

// Links
a {
    color: $c-blue-dk;

    &:active {
        color: $c-blue;
    }
    &:visited {
        color: darken($c-blue-dk, 15%);
    }
}
.secondary a {
    color: $c-grey;
}

// Lists
ol, ul {
    padding-left: (36px);
}
ol, ul, dl {
    p, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, blockquote, dl, figure, ol, ul, hr, pre, table {
        margin-top: 0;
        margin-bottom: 0;
    }
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
    margin-bottom: 12px;
    padding-left: $t-height;
}

// Quotes
blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 $t-height;
    border-left: 5px solid $c-cream-dk;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    small {
        font-style: italic;
        &:before {
            content: "—"
        }
    }
}
q {
    font-style: italic;
    &:before {
        content: "“";
    }
    &:after {
        content: "”";
    }
}

// Code
pre, code {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
}
code {
    padding: 0 4px;
    background: #f0e7de;
    border: 1px solid $c-cream-dk;
}
pre code {
    padding: 8px;
    display: block;
    background: #3f3f3f;
    color: #dcdcdc;
    border: 5px solid $c-cream-dk;
}

// Tables
table {
    width: 100%;
}
thead {
    border-top: 1px solid $c-cream-dk;
}
tr {
    border-left: 1px solid $c-cream-dk;
}
th {
    background: $c-cream-dk;
    text-align: left;
}
th, td {
    padding: 4px 8px;
    border-bottom: 1px solid $c-cream-dk;
    border-right: 1px solid $c-cream-dk;

    tr:nth-child(2n) & {
        background: #fff;
    }
}

// Highlights
mark {
    background: #ff9;
}

// Rules
hr {
    height: 0;
    border: none;
    border-top: 5px solid $c-cream-dk;
    color: $c-cream-dk;
}

// selection
::-moz-selection {
    background: $c-blue-dk;
    color: #fff;
}
::selection {
    background: $c-blue-dk;
    color: #fff;
}
